<% @posts.each do |post| %>
		<section class="post">
		  <h1><%= link_to post.title, post %></h1>
		  <h2><%= link_to  post.summary, post %></h2>
			<div class="leia-mais">
			<%= link_to "Leia Mais", post %>
			</div>
		</section>
<% end %>
